@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,500&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* html1 */
.row {
  margin: 0 !important;
}
* > .html1{
  padding: 0;
  margin: 0;
}
.html1{
    position: relative;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    background-image:url(/images/background.png);
    background-color: #2F1893;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 15px;
}
.hero-image1 img{
  position: absolute;
  left: 223px;
    
}
.form-inline button{
    border-radius: 14px;
    background-color: rgb(0, 255, 255);
    border: none;
    outline: none;
  
}
@media screen and (min-width: 2200px) {
  .html1{
    font-size: 40px;
    line-height: 1.5;
  }
  .html1 .nav-item{
    font-size: 35px;
  }
  .hero-image1 img{
    left: 201px;
    width: 100%;
    top: 150px;
  }               
  .html1 .row .navbar {
    padding: 50px 20px;
  }
  .hero-text1 h1{
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 1.5;
  }
  .html1  .hero-text1{
    margin-top: 50px;
  }
  .based1, .based2{
    padding-top: 50px;
  }
  .based1 img, .based2 img{
    width: 40%;
    padding: 20px;
  }
  .based1 h3, .based2 h3{
    font-size: 50px;
    width: 150%;
    padding-bottom: 20px;
  }
  .based2{
    padding-left: 100px;
  }
  .form-inline button{
    padding: 10px 40px;
    font-size: 40px;
    border-radius: 30px;
  }
  .navbar .navbar-brand{
    font-size: 50px;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-left: 100px;
  }
  
}
@media (min-width: 1280px) and (max-width: 2000px){
  .html1{
    font-size: 15px;
  }
  .hero-image1 img {
    position: absolute;
    left: 176px;
    width: 90%;
    top: 40px;
  }
  .based1, .based2{
    padding-top: 10px;
  }
  .hero-text1{
    padding-top: 20px;
  }
  .hero-text1 h1{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  .html1 .row .navbar {
    padding: 0px 20px;
  }
  .form-inline button{
    padding: 8px 18px;
    font-size: 17px;
    border-radius: 30px;
  }
  .navbar .navbar-brand{
    font-size: 30px;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-left: 100px;
    font-size: 20px;
  }
  .based2{
    padding-left: 50px;
  }
  .based1 img, .based2 img{
    width: 40%;
    padding: 20px;
  }

}
@media (min-width: 1600px) and (max-width: 2000px){
  .hero-image1 img {
    position: absolute;
    left: 220px;
  }
  .fa-brands, .fab {
    font-weight: 400;
    margin-top: 5px;
  }
}
@media screen and (width: 1024px) {
  .hero-image1 img{
    left: 100px;
    width: 100%;
    top: 28px;
  }    
  .fa-brands, .fab {
    font-weight: 400;
    margin-top: 5px;
  }
  .html1 .form-inline button {
    padding: 5px 20px;
  }  
  .html1 .row .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }         
}
@media (min-width: 600px) and (max-width: 1000px) {
  .html1{
    font-size: 30px;
  }  
  .based1, .based2{
    padding-top: 50px;
  }
  .navbar .navbar-brand{
    font-size: 40px;
  }
  .based1 img, .based2 img{
    width: 15%;
    padding: 20px;
  }
  .html1 .navbar{
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .hero-image1 img {

    display: none;
  }
}
@media (min-width: 250px) and (max-width:580px) {
  .hero-image1 img{
    display: none;
  }
  .hero-text1 h1{
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
  }
}
/* html1 */



/* html2 */
.html2{
  font-family: "DM Sans", sans-serif;
  background-color: #2F1893;
  color: #FFF;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.salty img{
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}
.header2 h2{
  padding-top: 10px;
  padding-bottom: 20px;
}
.icon img{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 6%;
}
.icon-btn button{
    padding: 10px 25px;
    border-radius: 28px;
    background-color: rgb(136, 230, 230);
    margin-bottom: 10px;
    color: #FFFFFF;
    border: none;
}
.navbar .navbar-nav .nav-link:hover{
    background-color:  rgb(136, 230, 230) ;
    color: #FFFFFF;
}
.icon-btn button:hover{
    background-color:  rgb(136, 230, 230);
    color: #2F1893;
}
.fa-facebook{
    padding: 10px;
    border-radius: 15px;
}
.fa-twitter{
    padding: 10px;
}
.header2 p{
  color: rgba(240, 248, 255, 0.632);
}
.icon-btn p{
  color: rgba(240, 248, 255, 0.632);
}
@media screen and (min-width: 2200px) {
  .header2 p{
    color: rgba(240, 248, 255, 0.632);
    font-size: 30px;
  }
  .icon-btn p{
    color: rgba(240, 248, 255, 0.632);
    font-size: 25px;
    margin-left: 20px;
  }
  .html2 .nav-item{
    padding-right: 20px;
    font-size: 20px;
  }
  .html2 .fa-brands, .fab{
    font-size: 900;
    margin-top: 3px;
  }         
  .icon-btn button{
    padding: 20px 50px;
    font-size: 25px;
  }
  .header2 h2{
    font-size: 50px;
    font-weight: 500;
  }
  .icon-btn{
    margin-left: 50px;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-left: 100px;
    font-size: 20px;
    
  }
}
@media (min-width: 1280px) and (max-width: 2000px) {
  .header2 p{
    color: rgba(240, 248, 255, 0.632);
    font-size: 30px;
  }
  .icon-btn p{
    color: rgba(240, 248, 255, 0.632);
    font-size: 25px;
    margin-left: 20px;
  }
  .icon-btn button{
    padding: 20px 50px;
    font-size: 25px;
  }
  .header2 h2{
    font-size: 50px;
    font-weight: 500;
  }
  .icon-btn{
    margin-left: 50px;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-left: 100px;
    font-size: 20px;
    
  }
}
@media (width: 1280px) {
  .icon-btn button{
    padding: 20px 50px;
    font-size: 15px;
  }
  .icon-btn p{
    color: rgba(240, 248, 255, 0.632);
    font-size: 20px;
    margin-left: 20px;
  }
  .html2 .icon-btn {
    margin-left: 30px;
    margin-top: 20px;
  }
  .html2 .header2 p {
    font-size: 20px;
  }
  .html2 .fa-brands, .fab{
    margin-top: 5px;
  }         
}
@media (max-width: 950px){
  .html2{
    font-size: 30px;
  } 
  .header2 h2{
    font-size: 45px;
    font-weight: 600;
  }
  .icon-btn{
    margin-top: 50px;
    width: 100%;
  }
  .icon-btn button{
    padding: 10px 50px;
  }
  .icon-btn p{
    margin-left: 10px;
  }
}
@media (max-width: 600px){
  .html2{
    font-size: 15px;
  } 
  .icon-btn{
    margin-top: 30px;
    width: 100%;
  }
  .navbar-dark .navbar-brand {
    color: #fff;
    font-size: 30px;
  } 
  .header2 h2{
    font-size: 30px;
    font-weight: 600;
  } 
  .icon-btn p{
    margin-left: 10px;
  }
}
/* html2 */



/* html3 */
.html3{
  font-family: "DM Sans", sans-serif;
  background-image: url(/images/teethice.png);
  background-color: #2F1893;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
 
}
.html3 .nav-item{
  padding-left: 15px;
}
.main3{
  padding-right: 20px;
  color: #FFFFFF;
  width: 100%;
}
.main3 h1{
  padding-bottom: 30px;
  line-height: 50px;
  font-weight: 600;
}
.main3 p{
  padding-bottom: 30px;
}
.btn-3 .btn-secondary{
background-color: #FFFFFF;
border-radius: 100px;
outline: none;
border: none;
color: #482BE7;
padding: 3px 5px;
}
.btn-3 .btn-light{
background-color: transparent !important;
border-radius: 100px;
padding: 5px 5px;
outline: none;
color: #FFFFFF;
border: none ;

}
.btn3 .btn-secondary{
background-color: #FFFFFF;
border-radius: 100px;
outline: none;
border: none;
color: #482BE7;
padding: 10px 15px;
}
.html3 .btn3 .btn-light{
  background-color: transparent !important;
  border-radius: 100px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid white;
  color: #FFFFFF;
  margin-left: 25px;
}
@media (min-width: 2200px){
  .html3 .nav-item{
    padding-right: 20px;
    font-size: 40px;
  }
  .html3 .row .navbar{
    padding-top: 50px;
  }
  .html3 .btn-3 .btn-light{
    margin-right: 30px;
  }
  .html3 .btn-3 .btn-secondary{
    padding: 10px 25px;
  }
  .main3 h1{
    padding-bottom: 30px;
    line-height: 100px;
    font-weight: 500;
    font-size: 80px;
    padding-top: 100px;
  }
  .main3 p{
    font-size: 30px;
  }
  .html3 .btn3 .btn-light{
    margin-left: 50px;
  }
  
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .html3 .nav-item{
    padding-right: 5px;
    font-size: 15px;
  }
}
@media (min-width: 750px) and (max-width: 950px){
  .main3 h1{
    padding-bottom: 30px;
    line-height: 100px;
    font-weight: 600;
    font-size: 60px;
    padding-top: 50px;
  }
  .html3 .navbar{
    padding-top: 40px;
  }
  .main3 p{
    font-size: 40px;
  }
  .html3 .nav-item{
    padding-right: 20px;
    font-size: 35px;
  }
  .html3 .btn-3 .btn-light{
    margin-right: 30px;
    font-size: 30px;
  }
  .html3 .btn-3 .btn-secondary{
    padding: 10px 25px;
    font-size: 30px;
  }
  .btn3 .btn-secondary{
    padding: 20px 40px;
    font-size: 35px;
  }
  
  .html3 .btn3 .btn-light{
    padding: 20px 40px;
    margin-left: 25px;
    font-size: 35px;
  }
  .navbar-dark .navbar-brand{
    font-size: 45px;
  }
  .navbar-toggler-icon{
    font-size: 40px;
  }
  .navbar-toggler {
    border: 3px solid !important;
  } 
}    
@media (max-width: 300px) {
  .main3 h1{
    padding-bottom: 20px;
    line-height: 40px;
    font-weight: 400;
    font-size: 20px;
  }
  .html3 .navbar-brand{
    font-size: 20px;
  }
  .html3 .btn3{
    display: flex;
    flex-direction: column;
  }
  .html3 .btn3 .btn-light{
    margin-left: 0px;
    margin-top: 20px;
  }
}
/* html3 */



/* html4 */
.row{
  margin: 0 !important;
}
* > .html4 {
  padding: 0;
  margin: 0;
}
.html4{
  font-family: "DM Sans", sans-serif;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  line-height: 2;
}
.html4 .nav-item{
  color: rgba(0, 0, 0, 0.559);
  padding-right: 30px;
}
.fa-product-hunt, .fa-apple{
  padding-top: 15px;
}
.btn-4 .btn-light{
  background-color: rgb(51, 51, 231);
  color: #FFFFFF;
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: -50px;
}
#startup a {
  color: #110643;
  font-size: 25px;
  font-weight: 600;
}
#startup{
  text-align: center;
  margin-top: 50px;
}
.html4 #applew img{
  width: 80%;
}
.html4 .main-4 h2{
  padding-bottom: 20px;
  color: #110643;
  font-weight: 600;

}
.html4 .main-4 p{
  color: rgba(0, 0, 0, 0.559);
  font-size: 20px;
}
.html4 .main-4 .paginator{
  margin-top: 80px;
}
@media (min-width:2200px) {
  .html4{
    width: 100%;
    line-height: 3;
    font-size: 30px;
  }
  #startup a {
    color: #110643;
    font-size: 50px;
    font-weight: 800;
  }
  .html4 .nav-item{
    color: rgba(0, 0, 0, 0.559);
    padding-right: 30px;
    font-size: 40px;
  }
  .html4 .main-4{
    font-size: 30px;
    margin-top: 100px;
  }
  .html4 #applew img{
    width: 80%;
    margin-left: 50px;
  }
  .html4 .main-4 h2{
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
  }
  .html4 .main-4 p{
    color: rgba(0, 0, 0, 0.559);
    font-size: 30px;
  }
  .html4 .main-4 .paginator{
    margin-top: 300px;
  }
  .fa-product-hunt, .fa-apple{
    padding-top: 55px;
    font-size: 40px;
    margin-right: 20px;
  }
  .btn-4 .btn-light{
    background-color: rgb(51, 51, 231);
    color: #FFFFFF;
    padding: 20px 80px;
    border-radius: 50px;
    font-size: 30px;
    margin-top: 50px;
  }

}
@media (min-width: 1280px) and (max-width: 2000px){
  .html4{
    font-size: 25px;
  }
  .html4 #applew img{
    width: 80%;
    margin-left: 50px;
    margin-top: 15px;
  }
  .html4 .main-4{
    width: 100%;
    margin-top: 80px;
  }
  .html4 .paginator{
    padding-top: 80px;
  }
  .btn-4 .btn-light{
    margin-top: 50px;
  }
  .main-4 h2{
    font-size: 40px;
  }
  .html4 .main4{
    margin-top: 50px;
  }
 

}
@media (min-width: 1024px) and (max-width: 1200px){
  .html4 #applew img{
    padding-left: 20px;
    width: 80%;
  } 
  .html4 .main-4{
    margin-top: 70px;
  }
  .html4 .paginator{
    padding-top: 30px;
  }
  .html4 .main-4 p{
    color: rgba(0, 0, 0, 0.559);
    font-size: 15px;
  }
  .btn-4 .btn-light{
    margin-top: 30px;

  }


}
@media (min-width: 750px) and (max-width: 1000px){
  .html4 .main-4 h2{
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
  }
  .html4 .main-4 p{
    color: rgba(0, 0, 0, 0.559);
    font-size: 30px;
    margin-top: 20px;
  }
  .html4 .paginator{
    display: none;
  }
  .html4 .navbar {
    display: flex;
    justify-content: end;
    margin-top: -60px;
  }
  #startup a{
    display: flex;
    margin-left: 10px;
  }
  .html4 .main-4{
    margin-top: 80px;
  }
  .btn-4 {
    margin-top: 100px;
    text-align: center;
  }
  .html4 #applew img{
    margin: 50px !important;
    margin-top: 50px;
  }

  .btn-4 .btn-light{
    padding: 30px 100px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  } 
  .html4  #startup a{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
  }
}
@media (min-width: 250px) and (max-width: 600px){
  .html4 .paginator{
    display: none;
  }
  .btn-4 {
    margin-top: 80px;
    text-align: center;
  }
  .html4 #applew img{
    margin: 25px !important;
  }
  .btn-4 .btn-light{
    padding: 20px 50px;
  } 
  .html4 .main-4{
    margin-top: 70px;
  }
  .html4 .navbar {
    display: flex;
    justify-content: end;
    margin-top: -60px;
  }
  #startup a{
    display: flex;
    margin-left: 10px;
    
  }
  
}
/* html4 */


/* html5 */
.html5{
  background-color: #2F1893;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
.html5 .main-s5 {
  position: relative;
}
.html5 .main-s5 .iphone{
  left: 350px;
  width: 30%;
  position: absolute;
}
.html5 nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.html5 nav i {
  font-size: 30px;
}
.html5 .writeup{
  color: #FFFFFF;
  margin-top: 40px;
  margin-right: 100px;
}
.html5 .writeup h3{
  margin-bottom: 20px;
}
.html5 .writeup h1{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
.html5 .writeup button{
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border-radius: 150px;
  border: none;
  outline: none;
  background-color: #25dac5;
  margin-top: 20px;
}
.accordion-m{
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.accordion-m .qestion-m{
  padding-left: 40px;
}
.accordion-m .qestion-m button{
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 40px;
  margin-top: 20px;
  background-color: #2f1893;
  color: #FFFFFF;
}
.qestion-m button:hover {
  background-color: aliceblue;
  color: #482BE7;
}
.accordion-m .qestion-m p{
  color: #2a1d74; 
  font-size: 15px;
}
.accordion-m .qestion-m h5{
  color: rgba(0, 0, 0, 0.297);
  font-size: 15px;
  font-weight: 600;
}
.accordion-item button{
  color: #2a1d74;
  font-size: 15px;
  font-weight: 700;
}
.accordion-body{
  color: rgba(0, 0, 0, 0.297);
}
.card-7 .content-31{
  text-align: center;
}
.card-7 .content-31 h1{
  color: #FFFFFF;
  margin-bottom: 10px;
  font-weight: 600;
}
.card-7 .content-31 p{
  color: rgba(240, 255, 255, 0.507);
  padding-bottom: 20px;
}
.card-7{
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}
.card-7 .image-7{
  display: flex;
}
.card-7 img{
  padding: 50px;
  width: 200%;
}  
.card-7 .image-7 {
  border: 1px solid;
  border-color: #FFFFFF !important;
  margin: 10px;
  border-radius: 5px;
}
.html5 nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-top: 30px;
  color: white;
}
.html5 nav i {
  font-size: 35px;
}
@media screen and (min-width: 2200px) {
  .html5 .main-s5 .iphone{
    left: 790px;
    top: 4px;
    width: 19%;
  }
  .html5 .writeup p{
    font-size: 25px;
  }
  .html5 nav{
    margin-right: 50px;
    margin-top: 50px;
  }
  .accordion-item button {
    font-size: 25px;
    font-weight: 800;
  }
  .accordion-body{
    font-size: 25px;
  }
  .accordion-m .qestion-m button{
    padding: 10px 40px;
    font-size: 20;
  }
  .accordion-m .qestion-m p{
    color: #2a1d74; 
    font-size: 25px;
  }
  .accordion-m .qestion-m h5{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .accordion-m .qestion-m {
    padding-left: 50px;
  }
  .card-7 .content-31 h1{
    font-size: 60px;
    font-weight: 700;
  }
  .card-7 .content-31 p{
    font-size: 25px;
  }

}
@media (min-width: 1500px) and (max-width: 2000px) {
  .html5 .main-s5 .iphone{
    left: 550px;
    top: 4px;
    width: 23%;
  }
}
@media (min-width: 1000px) and (max-width: 1180px){
  .html5 .main-s5 .iphone{
    left: 270px;
    top: 4px;
    width: 33%;
  }
  .html5 .writeup h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .html5 .writeup p{
    font-size: 15px;
  }
  .html5 .writeup h3{
    font-size: 15px;
  }
}
@media (min-width: 500px) and (max-width: 990px){
  .html5 .main-s5{
    flex-direction: column;
    gap: 100px;
  }
  .html5 .main-s5 .iphone{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .html5 .html5-main {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .html5 .writeup{
    margin-right: 0px;
  }
  .html5 .writeup button{
    padding: 15px 80px;
  }
  .accordion-m .qestion-m {
    padding-left: 0px;
    padding-top: 70px;
    text-align: center;
  }
  .accordion-m .qestion-m h5 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }  
  .accordion-m .qestion-m{
    font-size: 20px;
  }
  .accordion-m .qestion-m button {
    padding: 10px 80px;
  }
  .card-7 .content-31 p {
    font-size: 15px;
  }
}
@media (min-width: 800px) and (max-width: 990px){
  .html5 .writeup{
    margin-top: 100px;
  }
  .html5 .writeup h3 {
    font-size: 40px;
  }
  .html5 .writeup h1 {
    font-size: 80px;
    font-weight: 450;
  }
  .html5 .writeup p{
    font-size: 30px;
  }
  .html5 .writeup button{
    padding: 25px 150px;
    font-size: 30px;
  }
  .accordion-item button {
    font-size: 30px;
    font-weight: 700;
  }  
  .accordion-body{
    font-size: 30px;
  }
  .accordion-m .qestion-m h5 {
    font-size: 40px;
    font-weight: 600;
  }
  .accordion-m .qestion-m p {
    font-size: 30px;
  }
  .accordion-m .qestion-m button {
    padding: 15px 150px;
    font-size: 30px;
  }
  .card-7 .content-31 p {
    font-size: 30px;
  }
  .card-7 .content-31 h1 {
    font-weight: 600;
    font-size: 60px;
  }
  .html5 .nav {
    margin-top: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 250px) and (max-width: 480px){
  .html5 .main-s5{
    flex-direction: column;
    gap: 100px;
  }
  .html5 .main-s5 .iphone{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .html5 .html5-main {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .html5 .writeup{
    margin-right: 0px;
  }
  .html5 .writeup h1 {
    font-size: 40px;
    font-weight: 400;
  }
  .accordion-m .qestion-m {
    padding-left: 0px;
    padding-top: 70px;
    text-align: center;
  }
  .html5 .writeup button{
    padding: 6px 60px;
    font-size: 20px;
  }
  .accordion-m .qestion-m button {
    padding: 10px 70px;
  }
  .card-7 .content-31 h1 {
    font-size: 35px;
  }
}
